@model ShoppingCartVM

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    @if(Model.Items?.Count > 0)
                    {
                        @foreach(var item in Model.Items)
                        {
                            <tbody>
                                <tr data-item-id="@item.ItemId">
                                <td>
                                    <a href="#"><img src="@item.ItemImageUrl" alt=""></a>
                                </td>
                                <td>
                                    <a href="#">@item.ItemName</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">$@item.ItemPrice</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">
                                                <a href="#" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>@item.ItemPrice</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                                <input type="number" onchange="updateItemCount(@item.ItemId, this.value, @item.TotalPrice, @item.ItemPrice)" name="quantity" class="form-control input-number"
                                                   value="@item.Quantity">
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#" class="icon"><i class="ti-close"></i></a></td>
                                <td>
                                        <h2 id="total-price-@item.ItemId" class="td-color">$@item.TotalPrice</h2>
                                </td>
                            </tr>
                        </tbody>
                        }
                    }
                </table>
                <table class="table cart-table table-responsive-md">
                    <tfoot>
                        <tr>
                            <td>total price :</td>
                            <td>
                                <h2 id="cart-total-price">@Model.TotalPrice</h2>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
            <div class="col-6"><a href="#" class="btn btn-solid">check out</a></div>
        </div>
    </div>
</section>
<!--section end-->

    <script>
	    function updateItemCount(itemId, newQuantity, currentTotalPrice, currentItemPrice) {

            newQuantityNum = parseInt(newQuantity)
		    currentTotalPriceNum = parseFloat(currentTotalPrice)
            currentItemPriceNum = parseFloat(currentItemPrice)

            if (newQuantityNum < 1) {
                newQuantityNum = 1;
	        }

            currentTotalPriceNum = newQuantityNum * currentItemPriceNum;

        $.ajax({
        url: '@Url.Action("ChangeQuantity", "Order")',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            ItemId: parseInt(itemId),
            ItemCount: parseInt(newQuantityNum),
            ItemTotalPrice: parseFloat(currentTotalPriceNum)
        }),
        success: function (data) {
			console.log("Success:", data);
            console.log(data.items.find(i => i.itemId === itemId))
            $('#total-price-' + itemId).text('$' + data.items.find(i => i.itemId === itemId).totalPrice.toFixed(2));
            $('#cart-total-price').text('$' + data.totalPrice.toFixed(2));
        },
        error: function (xhr, status, error) {
            console.error("Error:", status, error, xhr.responseText);
        }
    });

        }
</script>