@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Category>

@section Styles
{
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
}

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Categories </h3>
                @* <nav aria-label="breadcrumb"> *@
                @*     <ol class="breadcrumb"> *@
                @*         <li class="breadcrumb-item"><a href="#">Tables</a></li> *@
                @*         <li class="breadcrumb-item active" aria-current="page">Data table</li> *@
                @*     </ol> *@
                @* </nav> *@
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="order-listing" class="table dataTable no-footer" aria-describedby="order-listing_info">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 107.05px;">ID</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased On: activate to sort column ascending" style="width: 171.012px;">Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 128.363px;">By</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Ship to: activate to sort column ascending" style="width: 99.525px;">Created Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Base Price: activate to sort column ascending" style="width: 133.387px;">Current State</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased Price: activate to sort column ascending" style="width: 192.325px;">Image Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 109.25px;">ShowInHomePage</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 109.912px;">Updated By</th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 109.912px;">Update Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach(Category Element in Model)
                                                {
                                                    <tr class="odd">
                                                        <td class="sorting_1"> @Element.CategoryId </td>
                                                        <td> @Element.CategoryName </td>
                                                        <td> @Element.CategoryBy </td>
                                                        <td> @Element.CreatedDate </td>
                                                        <td> @Element.CurrentState </td>
                                                        <td> @Element.ImageName </td>
                                                        <td> @Element.ShowInHomePage </td>
                                                        <td> @Element.UpdatedBy </td>
                                                        <td> @Element.UpdatedDate </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
</div>

@section Scripts
{
    <!-- Plugin js for this page -->
    <script src="~/admin/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <!-- Custom js for this page -->
    <script src="~/admin/assets/js/data-table.js"></script>
}